:root {
  --black: #000;
  --dark: #0C0C0E;
  --sand: #BB945F;
  --white: #FFF;
  --gray: #8E8E8E;
}

* {
  padding: 0;
  margin: 0, auto;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
}

a {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  color: var(--sand);
  transition: 0.5s linear;
}

.svg {
  cursor: pointer;
}

.svg:hover {
  filter: invert(55%) sepia(43%) saturate(258%) hue-rotate(356deg) brightness(100%) contrast(94%);
  transition: 0.5s linear;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

/*header*/

header {
  height: 90px;
  background-color: var(--dark);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.header-menu {
  display: flex;
  gap: 30px;
}

header h1 {
  height: 58px;
  width: 338px;
  margin: 0;
  font-family: Forum;
  font-size: 35px;
  line-height: 57.5px;
  font-weight: normal;
}

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

/*main*/
.section-title {
  margin: 0;
  font-family: Forum;
  font-size: 40px;
  line-height: 40px;
  font-weight: normal;
  letter-spacing: 2px;
  text-align: center;
  padding-top: 20px;
  color: var(--dark);
  position: relative;
}

.section-title::after {
  content: "";
  position: absolute;
  background-color: var(--dark);
  width: 50px;
  height: 1px;
  bottom: -20px;
  left: 48%;
}

/*welcome*/

.welcome {
  height: 600px;
  color: var(--white);
}

.welcome-text {
  height: 220px;
  width: 600px;
  background-color: var(--black);
  position: relative;
  bottom: 380px;
}

.welcome-text h2 {
  margin: 0;
  padding: 35px 40px;
  font-family: Forum;
  font-size: 40px;
  letter-spacing: 3px;
  line-height: 50px;
  font-weight: normal;
  text-align: center;
}

.about {
  height: 837px;
  border: 1px solid black;
}

.favorites {
  height: 1439px;
  border: 1px solid black;
}

.coffeeShop {
  height: 841px;
  border: 1px solid black;
}

.ourContacts {
  height: 575px;
  border: 1px solid black;
}

.digitalLibraryCards {
  height: 614px;
  border: 1px solid black;
}